$cell-dimension: 40px;
$map-dimension: $cell-dimension * 11;
$block-dimension: $cell-dimension * 10;
$orb-dimension: 36px;
$orb-md-dimension: $orb-dimension - 4px;
$orb-sm-dimension: $orb-md-dimension - 4px;
$unit_dimension: 40px;
$orb-margin: ($cell-dimension - $orb-dimension) / 2;
$orb-md-margin: ($cell-dimension - $orb-md-dimension) / 2;
$orb-sm-margin: ($cell-dimension - $orb-sm-dimension) / 2;
$button-size: 60px;
$column-gap: 30px;
$hover-hero-color: #66a3ff;
$active-hero-color: #0066ff;
// color of wooden theme
$wooden-color: #996633;
$font-family: Immortal, fantasy;
$right-col-width: 12rem;
$right-col-border: chocolate;
$theme-bg: saddlebrown;
$theme-border: chocolate;
$theme-color: lightyellow;
$theme-hover: sienna;
$modal-width: calc(80% - #{$right-col-width} + 4rem);
// color of wood
$wood-color: Sienna;

@font-face {
    font-family: Immortal;
    src: url(/fonts/IMMORTAL.ttf);
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin card() {
    border: thin solid $wooden-color;
    box-sizing: border-box;
    float: left;
    height: 11rem;
    margin: 1rem;
    padding: 1rem;
    width: 10rem;
}

@mixin res-gold() {
    background-color: gold;
    color: black;
}
@mixin res-wood() {
    background-color: $wood-color;
    color: white;
}
@mixin res-stone() {
    background-color: gray;
    color: black;
}

body {
    background-color: black;
    font-family: $font-family;
    font-size: 1rem;
}

button {
    background-color: $theme-bg;
    border: thin solid $theme-border;
    color: $theme-color;
    cursor: pointer;
    font-family: $font-family;
    &:hover {
        background-color: $theme-hover;
    }
}
.pointer {
    cursor: pointer;
}
#top_container {
    height: 400px;
}

#map {
    background-color: black;
    border: thin solid black;
    height: $map-dimension;
    overflow: hidden;
    position: absolute;
    width: $map-dimension;

    #blocks {
        position: absolute;
    }
    .block {
        height: $block-dimension;
        position: absolute;
        width: $block-dimension;
    }
    .cell {
        /*border: thin dashed #555;*/
        box-sizing: border-box;
        height: $cell-dimension;
        position: absolute;
        width: $cell-dimension;
    }
    
    .cell.white {
        background-color: white;
    }

    .cell.black {
        background-color: black;
    }
    
    .unit {
        border: thin solid transparent;
        height: inherit;
        position: absolute;
        width: inherit;
        z-index: 6;

        &.attack-target {
            border: thin solid red;
            cursor: crosshair;
        }
        &.select-target {
            cursor: pointer;
        }
    }

    .player-hero {
        background-image: url('/img/player_hero.png');
    }
    .player-unit {
        &:hover, &.player-unit-hover {
            border: thin dashed $hover-hero-color;
        }
        &.active-player-unit {
            border: thin solid $active-hero-color;
        }
        .player-unit-squad-info {
            bottom: 0;
            color: white;
            font-size: 12px;
            position: absolute;
            right: 0;
        }
    }
    .other-player-hero {
        background-image: url('/img/other_player_hero.png');
    }
    .bot-hero {
        background-image: url('/img/bot_hero.png');
    }
    .green-orb {
        border-color: black;
        border-radius: 20px;
        background-color: #FFFFCC;
    }
    .black-orb {
        border-color: gray;
        border-radius: 20px;
        background-color: black;
    }
    .town, .player-town {
        background-image: url('/img/town.png');
    }
    .orb {
        height: $orb-dimension;
        left: $orb-margin;
        top: $orb-margin;
        width: $orb-dimension;
    }
    .orb-md {
        height: $orb-md-dimension;
        left: $orb-md-margin;
        top: $orb-md-margin;
        width: $orb-md-dimension;
    }
    .orb-sm {
        height: $orb-sm-dimension;
        left: $orb-sm-margin;
        top: $orb-sm-margin;
        width: $orb-sm-dimension;
    }
    .dmg {
        font-weight: bold;
        left: 4px;
        position: absolute;
        transition: top 1s ease, color 1s ease;
        z-index: 10;
    }
    .dmg_start {
        top: -10px;
    }
    .dmg_end {
        top: -30px !important;
    }
    .def_dmg_start {
        color: red;
    }
    .def_dmg_end {
        color: yellow !important;
    }
    .att_dmg_start {
        color: blue;
    }
    .att_dmg_end {
        color: aqua !important;
    }
    
}

#right-col {
    background-color: $theme-bg;
    border: thin solid $theme-border;
    color: $theme-color;
    margin-right: 0.5rem;
    opacity: 0.9;
    padding: 1rem;
    position: fixed;
    right: 0;
    width: $right-col-width;
    z-index: 20;
    &:hover {
        opacity: 1;
    }
    .unit-info-template {
	display: none;
    }
    .unit-info {
        border: thin solid transparent;
        padding: 0 2px;
        .unit-name-info {
            font-size: 2rem;
        }
        .unit-id-info::before {
            content: '#';
        }
        .unit-info-row {
            div {
                display: inline-block;
            }
            div:nth-of-type(1) {
                width: 40%
            }
            div:nth-of-type(n+2) {
                width: 30%
            }
        }
        .unit-hp-info {
            color: #e60000;
        }
        .unit-dmg-info {
            color: lightgray;
        }
        .unit-def-info {
            color: blue;
        }
        .unit-ap-info {
            color: orange;
        }
        .unit-squads-info {
            color: limegreen;
        }
        &:hover {
            background-color: $theme-hover;
            border: thin dashed $right-col-border;
            cursor: pointer;
        }
        &.active-unit-info {
            border: thin solid $right-col-border;
        }
    }
    label {
        color: #ccc;
        font-weight: bold;
    }

    #controls_arrows {
        margin-bottom: 1rem;
        button {
            background-color: saddlebrown;
            border-color: $right-col-border;
            border-style: groove;
            cursor: pointer;
            float: left;
            font-size: 30px;
            font-weight: bold;
            line-height: 1px;
            height: $button-size;
            text-align: center;
            width: 33%;
            &:hover {
                background-color: $theme-hover;
            }
            &:nth-child(3n-2) {
                clear: left;
            }
        }
    }

    #unit-info-list {
        border-top: thin solid $right-col-border;
        padding-top: 1rem;
        border-bottom: thin solid $right-col-border;
        padding-bottom: 1rem;
    }

    #dimensions {
        margin: 1rem 0;
    }

    #user-controls button {
        display: block;
        margin: 0.5rem 0;
    }
}

#scores {
    display: none;
    float: right;

    table td:last-child {
        text-align: right;
    }
}

#log {
    background-color: #fffeab;
    bottom: 0px;
    height: 100px;
    opacity: 0.9;
    overflow-y: scroll;
    padding-left: 0.3rem;
    position: fixed;
    width: 100%;
    z-index: 10;

    .log-entry {
        color: black;
        transition: color 1s ease;
    }

    .new-log-entry {
        font-weight: bold;
        color: red;
    }
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.modal {
    background-color: $theme-bg;
    border: thin solid $theme-border;
    color: $theme-color;
    display: none;
    min-height: 50%;
    left: 2rem;
    opacity: 0.9;
    position: fixed;
    top: 3rem;
    width: $modal-width;
    z-index: 7;

    &:hover {
        opacity: 1;
    }

    div[class$=container] {
        margin: 1rem 0;
    }

    .buildings-inner {
        @include clearfix();
        box-sizing: border-box;
        height: 50%;
    }

    .modal-top-bar {
        border-bottom: thin solid $wooden-color;
        padding: 0.5rem;
        @include clearfix();
        .modal-title {
            float: left;
        }
        .modal-controls a {
            color: $theme-color;
        }
        .close-modal, .modal-controls {
            float: right;
            * {
                margin-left: 0.5rem;
            }
        }
    }

    .modal-body {
        @include clearfix();
        padding: 0.5rem;

        .modal-building-actions {
            clear: both;
        }

        .company-card {
            @include card();
        }

        .banner-card {
            @include card();
        }
    }

    .cost-res {
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        margin: 0.3rem 0;
        min-width: 2rem;
    }

    .cost-res-gold {
        @include res-gold();
    }
    .cost-res-wood {
        @include res-wood();
    }
    .cost-res-stone {
        @include res-stone();
    }

    .workers-inner {
        .worker-cell {
            border: thin solid black;
            display: inline-block;
            cursor: pointer;
            line-height: 3rem;
            height: 3rem;
            text-align: center;
            width: 3rem;
        }
        .worker-cell-has-worker {
            border-color: orange;
        }
        .worker-cell-tree {
            background-color: $wood-color;
        }
        .worker-cell-grass {
            background-color: green;
        }
        .worker-cell-mountain {
            background-color: gray;
        }
    }

    .town-inventory-container {
        .inventory-res {
            border: thin solid brown;
            display: inline-block;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            min-width: 3rem;
        }
        .inventory-res-gold {
            @include res-gold();
        }
        .inventory-res-wood {
            @include res-wood();
        }
        .inventory-res-stone {
            @include res-stone();
        }
    }
}

.open-building-screen {
    border: thin solid black;
    float: left;
    min-height: 3rem;
    margin-right: 1rem;
    padding: 0.5rem;
    text-align: center;
    width: 9rem;
    a {
        display: block;
        text-decoration-line: unset;
    }

    .builging_not_built {
        color: gray;
    }

    .builging_built {
        color: black;
        font-weight: bold;
    }

    .building_in_progress {
        color: blue;
        font-style: italic;
    }
}
