$cell-dimension: 40px;
$map-dimension: $cell-dimension * 11;
$block-dimension: $cell-dimension * 10;
$orb-dimension: 36px;
$orb-md-dimension: $orb-dimension - 4px;
$orb-sm-dimension: $orb-md-dimension - 4px;
$unit_dimension: 40px;
$orb-margin: ($cell-dimension - $orb-dimension) / 2;
$orb-md-margin: ($cell-dimension - $orb-md-dimension) / 2;
$orb-sm-margin: ($cell-dimension - $orb-sm-dimension) / 2;
$button-size: 60px;
$column-gap: 30px;
$hover-hero-color: #66a3ff;
$active-hero-color: #0066ff;
$wooden-color: #996633;

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

#top_container {
    height: 400px;
}

#map {
    background-color: black;
    border: thin solid black;
    height: $map-dimension;
    overflow: hidden;
    position: absolute;
    width: $map-dimension;

    #blocks {
        position: absolute;
    }
    .block {
        height: $block-dimension;
        position: absolute;
        width: $block-dimension;
    }
    .cell {
        /*border: thin dashed #555;*/
        box-sizing: border-box;
        height: $cell-dimension;
        position: absolute;
        width: $cell-dimension;
    }
    
    .cell.white {
        background-color: white;
    }

    .cell.black {
        background-color: black;
    }
    
    .unit {
        height: inherit;
        position: absolute;
        width: inherit;
        z-index: 6;

        &.attack-target {
            border: thin solid red;
            cursor: crosshair;
        }
        &.select-target {
            cursor: pointer;
        }
    }

    .player-hero {
        background-image: url('/img/player_hero.png');
    }
    .player-unit {
        &:hover, &.player-unit-hover {
            border: thin solid $hover-hero-color;
        }
        &.active-player-unit {
            border: thin dashed $active-hero-color;
        }
    }
    .other-player-hero {
        background-image: url('/img/other_player_hero.png');
    }
    .bot-hero {
        background-image: url('/img/bot_hero.png');
    }
    .green-orb {
        border-radius: 20px;
        background-color: #FFFFCC;
    }
    .town, .player-town {
        background-image: url('/img/town.png');
    }
    .orb {
        height: $orb-dimension;
        left: $orb-margin;
        top: $orb-margin;
        width: $orb-dimension;
    }
    .orb-md {
        height: $orb-md-dimension;
        left: $orb-md-margin;
        top: $orb-md-margin;
        width: $orb-md-dimension;
    }
    .orb-sm {
        height: $orb-sm-dimension;
        left: $orb-sm-margin;
        top: $orb-sm-margin;
        width: $orb-sm-dimension;
    }
    .dmg {
        font-weight: bold;
        left: 4px;
        position: absolute;
        transition: top 1s ease, color 1s ease;
        z-index: 10;
    }
    .dmg_start {
        top: -10px;
    }
    .dmg_end {
        top: -30px !important;
    }
    .def_dmg_start {
        color: red;
    }
    .def_dmg_end {
        color: yellow !important;
    }
    .att_dmg_start {
        color: blue;
    }
    .att_dmg_end {
        color: aqua !important;
    }
    
}

#right-col {
    opacity: 0.8;
    position: fixed;
    right: 0;
    z-index: 20;
    &:hover {
        opacity: 1;
    }
    .unit-info-template {
	display: none;
    }
    .unit-info {
	background-color: white;
        .unit-name-info {
            font-size: 2rem;
        }
        &:hover {
            background-color: gray;
            cursor: pointer;
        }
        &.active-unit-info {
            border: thin solid $active-hero-color;
        }
    }
    label {
        color: #ccc;
        font-weight: bold;
    }
    #controls_arrows button {
        float: left;
        font-size: 30px;
        font-weight: bold;
        line-height: 1px;
        height: $button-size;
        text-align: center;
        width: $button-size;
        &:nth-child(3n-2) {
            clear: left;
        }
    }
    #user-controls button {
        display: block;
        margin: 0.5rem 0;
    }
}

#scores {
    display: none;
    float: right;

    table td:last-child {
        text-align: right;
    }
}

#log {
    background-color: #fffeab;
    bottom: 0px;
    height: 100px;
    opacity: 0.9;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.modal {
    background-color: white;
    border: thin solid $wooden-color;
    display: none;
    min-height: 50%;
    left: 2rem;
    position: fixed;
    top: 3rem;
    width: 60%;
    z-index: 7;

    .buildings {
        @include clearfix();
        box-sizing: border-box;
        height: 50%;
        margin: 1rem;
    }

    .modal-top-bar {
        border-bottom: thin solid $wooden-color;
        padding: 0.5rem;
        @include clearfix();
        .modal-title {
            float: left;
        }
        .close-modal {
            float: right;
        }
    }

    .modal-body {
        @include clearfix();
        padding: 0.5rem;

        .banner-card {
            border: thin solid $wooden-color;
            box-sizing: border-box;
            float: left;
            height: 150px;
            margin: 1rem;
            padding: 1rem;
            width: 150px;
        }
    }
}

.open-building-screen {
    border: thin solid black;
    float: left;
    height: 50px;
    margin-right: 1rem;
    text-align: center;
    width: 120px;
    a {
        display: block;
    }
}
