*#
*~
Gemfile.lock
*.sass-cache/
*.css
*.css.map
img/bg/*
js/*
css/*
doc/*
GPATH
GRTAGS
GTAGS
data/map.*
config.yml
*.pid
*.log
app.yml
thin.yml
ws_thin.yml
*.dat
log/*
node_modules/*
*/static/css/*
*/static/js/*
*/static/img/bg/*
.bundle/
bin/
spec/examples.txt
capybara-*.html
spec/javascripts/helpers/*.js