@font-face {font-family: 'PT Serif';
	    src: url('/fonts/PTF55F_W.eot');
	    src: local('PT Serif'), url('/fonts/PTF55F_W.eot?#iefix') format('embedded-opentype'), url('/fonts/PTF55F_W.woff') format('woff'),url('/fonts/PTF55F_W.ttf') format('truetype'), url('/fonts/PTF55F_W.svg#PTSerif-Regular') format('svg');}

@font-face {font-family: 'PT Serif';
	    src: url('/fonts/PTF75F_W.eot');
	    font-style: normal;
	    font-weight: bold;
	    src: local('PT Serif Bold'), url('/fonts/PTF75F_W.eot?#iefix') format('embedded-opentype'), url('/fonts/PTF75F_W.woff') format('woff'),url('/fonts/PTF75F_W.ttf') format('truetype'), url('/fonts/PTF75F_W.svg#PTSerif-Bold') format('svg');}

$cell-dimension: 32px;
$map-dimension: $cell-dimension * 11;
$block-dimension: $cell-dimension * 10;
$orb-dimension: 36px;
$orb-md-dimension: $orb-dimension - 4px;
$orb-sm-dimension: $orb-md-dimension - 4px;
$orb-margin: ($cell-dimension - $orb-dimension) / 2;
$orb-md-margin: ($cell-dimension - $orb-md-dimension) / 2;
$orb-sm-margin: ($cell-dimension - $orb-sm-dimension) / 2;
$button-size: 60px;
$column-gap: 30px;
$font-family: 'PT Serif', serif;
$right-col-width: 230px;
// colors
$aqua: #0ff;
$black: #000;
$blue: #00f;
$brown: #a52a2a;
$darkolivegreen: #556b2f;
$gold: #ffd700;
$gray: #808080;
$green: #008000;
$lightgray: #d3d3d3;
$limegreen: #32cd32;
$orange: #ffa500;
$red: #f00;
$yellow: #ff0;
$white: #fff;
// color of wooden theme
$wooden-color: #963;
// color of wood
$life-info-color: #e60000;
$wounds-info-color: $yellow;
$sienna: #a0522d;
$wood-color: $sienna;
$hover-hero-color: #66a3ff;
$active-hero-color: #06f;
$chocolate: #d2691e;
$right-col-border: $chocolate;
$saddlebrown: #8b4513;
$orb-color: #ffc;
$theme-bg: $saddlebrown;
$theme-border: $chocolate;
$theme-color: #ffffe0;
$theme-hover: $sienna;
// 2rem left + 2rem between right col + 2 rem for paddings
$modal-width: calc(100% - #{$right-col-width} - 6rem);
// - 2.5rem for padding + scroll
$log-width: calc(100% - #{$right-col-width} - 2.5rem);

@mixin clearfix() {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin card() {
  border: thin solid $wooden-color;
  box-sizing: border-box;
  float: left;
  height: 11rem;
  margin: 1rem;
  padding: 1rem;
  width: 10rem;
}

@mixin themed() {
  background-color: $theme-bg;
  border: thin solid $theme-border;
  color: $theme-color;
}

@mixin themed-2px() {
  background-color: $theme-bg;
  border: 2px solid $theme-border;
  color: $theme-color;
}

@mixin themed-hovered() {
  @include themed();
  &:hover {
    background-color: $theme-hover;
  }
}

@mixin button() {
  @include themed-hovered();
  cursor: pointer;
  font-family: $font-family;
  font-weight: bold;
  padding: 0 2px;
}

@mixin big-modal() {
  bottom: 10%;
  overflow-y: auto;
}

a {
  color: $theme-color;
  &:hover {
    color: $theme-hover;
  }
}

body {
  background-color: $black;
  color: $theme-color;
  font-family: $font-family;
  font-size: 1rem;
  margin: 0;
  padding: 0;

  &.main {
    margin-top: 4rem;
    text-align: center;
  }
}

.login-form {
  div {
    margin: 1rem 0;
  }
}

button {
  @include button();
}

.submit {
  @include button();
}

.text {
  @include themed();
}

.pointer {
  cursor: pointer;
}

#top-container {
  height: 100%;
  position: absolute;
  width: 100%;
}

#map {
  background-color: $black;
  border: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;

  &.bordered-cells .cell {
    border-bottom: thin dashed $darkolivegreen;
    border-right: thin dashed $darkolivegreen;
  }

  .blocks {
    position: absolute;
    border: 5px solid $wooden-color
  }

  .block {
    height: $block-dimension;
    position: absolute;
    width: $block-dimension;
  }

  .cell {
    box-sizing: border-box;
    height: $cell-dimension;
    position: absolute;
    width: $cell-dimension;

    &.white {
      background-color: $white;
    }

    &.black {
      background-color: $black;
    }
  }
}

.unit {
  background-repeat: no-repeat;
  background-position: center;
  border: thin solid transparent;
  box-sizing: border-box;
  height: inherit;
  position: absolute;
  width: inherit;
  z-index: 6;

  &.attack-target {
    border: thin solid $red;
    cursor: crosshair;
    z-index: 10;
  }

  &.select-target {
    cursor: pointer;
  }

  &.town {
    background-image: url('/img/town.png');
  }
}

.own {
  &:hover,
  &.player-unit-hover {
    border: thin dashed $hover-hero-color;
  }

  &.active-player-unit {
    border: thin solid $active-hero-color;
    z-index: 10
  }
}

.own > .life-box {
  background-color: rgba(0, 0, 200, 0.7);
}

.neutral > .life-box {
  background-color: rgba(200, 200, 200, 0.7);
}

.enemy > .life-box {
  background-color: rgba(200, 0, 0, 0.7);
}

.life-box {
  bottom: -2px;
  color: $white;
  font-size: 10px;
  font-weight: bold;
  right: 0;
  padding: 0 2px;
  position: absolute;
}

.green-orb {
  background-color: $orb-color;
  border-color: $black;
  border-radius: 20px;
}

.black-orb {
  background-color: $black;
  border-color: $gray;
  border-radius: 20px;
}

.swordsman {
  background-image: url('/img/swordsman.png');
}

.hero_swordsman {
  background-image: url('/img/hero_swordsman.png');
}

.monolith {
  background-image: url('/img/monolith.png');
}

.orb {
  height: $orb-dimension;
  left: $orb-margin;
  top: $orb-margin;
  width: $orb-dimension;
}

.orb-md {
  height: $orb-md-dimension;
  left: $orb-md-margin;
  top: $orb-md-margin;
  width: $orb-md-dimension;
}

.orb-sm {
  height: $orb-sm-dimension;
  left: $orb-sm-margin;
  top: $orb-sm-margin;
  width: $orb-sm-dimension;
}

.wounds {
  color: $yellow;
}

.kills {
  color: $red;
}

.casualties {
  font-weight: bold;
  position: absolute;
  transition: top 3s ease, color 3s ease;
  z-index: 18;
}

.casualties-0 {
  left: -10px;
}

.casualties-1 {
  left: 10px;
}

.casualties-start {
  top: -10px;
}

.casualties-end {
  top: -30px;
}

.user-info .value {
  float: right;
}

.user-info-nickname .value {
  color: red;
}

.user-info-glory .value {
  color: cyan;
}

.user-info-turn .value {
  color: orange;
}

#right-col {
  @include themed();
  height: 100%;
  opacity: .9;
  overflow-y: auto;
  padding: 0 1rem;
  position: fixed;
  right: 0;
  width: $right-col-width;
  z-index: 20;

  > div {
    margin: 1rem 0;
  }

  &:hover {
    opacity: 1;
  }

  .opt-help * {
    width: 33%;
  }

  .unit-info-template {
    display: none;
  }

  #unit-info-list {
    border-bottom: thin solid $right-col-border;
    border-top: thin solid $right-col-border;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  #user-controls button {
    display: block;
    margin: .5rem 0;
  }
}

.unit-info {
  border-bottom: thin solid transparent;
  border-left: thick solid $wooden-color;
  border-right: thin solid transparent;
  border-top: thin solid transparent;
  font-weight: bold;
  padding: 0 2px;

  &:hover {
    background-color: $theme-hover;
    border-bottom: thin dashed $right-col-border;
    border-left: thick solid $right-col-border;
    border-right: thin dashed $right-col-border;
    border-top: thin dashed $right-col-border;
    cursor: pointer;
  }

  &.active-unit-info {
    border-left: thick solid $right-col-border;
  }

  .unit-id-info::before {
    content: '#';
  }

  .unit-name-info {
    width: 100%;

    input {
      float: left;
      height: 16px;
      width: 160px;
    }
  }

  .unit-info-row {
    div {
      display: inline-block;
      text-align: right;
      width: 25px;
    }

    .unit-id-info {
      text-align: left;
      width: 30px;
    }

    .unit-xy-info {
      text-align: center;
      width: 45px;
    }
  }

  .unit-info-actions {
    margin: 2px 0;
  }

  &:not(.active-unit-info) > .unit-info-actions {
    visibility: hidden;
  }

  .unit-life-info {
    color: $life-info-color;
  }

  .unit-wounds-info {
    color: $wounds-info-color;
  }

  .unit-attack-info {
    color: $lightgray;
  }

  .unit-defence-info {
    color: $blue;
  }

  .unit-ap-info {
    color: $orange;
  }
}

.unit-inventory-info {
  height: 60px;
}

.inventory-item {
  border: 2px solid $wooden-color;
  float: left;
}

.unit-inventory-item-action {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.resource-q {
  font-size: .7rem;
  height: 10px;
  position: relative;
  text-align: center;
  top: $cell-dimension;
  width: $cell-dimension;
}

.resource {
  background-repeat: no-repeat;
  height: $cell-dimension;
  margin-right: 3px;
  width: $cell-dimension;
}

.gold {
  background-image: url('/img/gold.png');
}

.wood {
  background-image: url('/img/wood.png');
}

.stone {
  background-image: url('/img/stone.png');
}

.settlers {
  background-image: url('/img/settlers.png');
}

#controls-arrows {
  button {
    background-color: $saddlebrown;
    border-color: $right-col-border;
    border-style: groove;
    cursor: pointer;
    float: left;
    font-size: 30px;
    font-weight: bold;
    height: $button-size;
    line-height: 1px;
    text-align: center;
    width: 33%;

    &:hover {
      background-color: $theme-hover;
    }

    &:nth-child(3n-2) {
      clear: left;
    }
  }
}

.ok-button {
  background: url('/img/ok.png');
  height: 20px;
  width: 20px;
}

.cancel-button {
  background: url('/img/cancel.png');
  height: 20px;
  width: 20px;
}


#log {
  background-color: $theme-color;
  bottom: 0;
  height: 100px;
  opacity: .9;
  overflow-y: scroll;
  padding-left: .3rem;
  position: fixed;
  width: $log-width;
  z-index: 10;

  .log-entry {
    color: $black;
    line-height: 20px;

    time {
      display: inline-block;
      width: 12rem;
    }
  }

  .info {
    color: cyan;
  }

  .error {
    color: pink;
  }

  .spawn, .new_hero {
    color: blue;
  }

  .attack, .defence {
    color: $red;
  }

  .move {
    color: $green;
  }

  .new-log-entry {
    font-weight: bold;
  }
}

.group::after {
  clear: both;
  content: '';
  display: table;
}

.province {
  margin-right: 1rem;

  .worker-cell {
    border: thin solid $wooden-color;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
    text-align: center;
    width: 40px;

    &.worker-cell-selected {
      border-color: $white;
    }

    &:hover {
      opacity: 1;
    }
  }

  .has-worker {
    border-color: $orange;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
  }

  .worker-cell-tree {
    background-color: $wood-color;

    &.has-worker {
      background-image: url('/img/worker-wood.png');
    }
  }

  .worker-cell-grass {
    background-color: $green;

    &.has-worker {
      background-image: url('/img/worker-gold.png');
    }
  }

  .worker-cell-mountain {
    background-color: $gray;

    &.has-worker {
      background-image: url('/img/worker-stone.png');
    }
  }

  .worker-cell-darkness {
    background-color: $black;
  }

  .worker-cell-town {
    background-image: url('/img/town.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.modal {
  @include themed();
  display: none;
  left: 2rem;
  opacity: .9;
  position: fixed;
  top: 1%;
  width: $modal-width;
  z-index: 21;

  &:hover {
    opacity: 1;
  }

  .container {
    margin: 1rem 0;
  }

  .flex-container {
    display: flex;
  }

  .buildings-inner {
    @include clearfix();
    box-sizing: border-box;
    height: 50%;
  }

  .workers-list {
    display: flex;
    flex-direction: column;

    .worker-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
    }

    .worker {
      border: thin solid $theme-border;
      cursor: pointer;
      height: $cell-dimension;
      margin-right: .5rem;
      width: $cell-dimension;

      &.worker-selected {
        border: thin solid $white;
      }
    }

    .worker-timebar-container {
      background-color: $yellow;
      height: 2px;
      width: 100px;
    }

    .worker-timebar {
      background-color: $red;
      height: 2px;
      transition: width 1s;
      z-index: 22;
    }

    .worker-gold {
      background-image: url('/img/worker-gold.png');
    }

    .worker-wood {
      background-image: url('/img/worker-wood.png');
    }

    .worker-stone {
      background-image: url('/img/worker-stone.png');
    }
  }

  .town-inventory.container {
    .inventory-res {
      border: thin solid $brown;
      display: inline-block;
      height: 3rem;
      line-height: 3rem;
      min-width: 3rem;
      text-align: center;
    }
  }

  &.options {
    label {
      display: inline-block;
      line-height: 2rem;
      width: 10rem;
    }
  }

  &.town {
    @include big-modal();
  }

  &.building {
    @include big-modal();
  }

  &.help {
    @include big-modal();
  }
}

.town-inventory-inner {
  @include clearfix();
  margin-bottom: 15px;
}

@mixin inventory-item-description() {
  font-style: italic;
  font-weight: normal;
}

.unit-inventory-item-description-info {
  @include inventory-item-description();
}

.town-inventory-item-description {
  @include inventory-item-description();
}

.modal-top-bar {
  @include clearfix();
  border-bottom: thin solid $wooden-color;
  padding: .5rem;
  font-size: 120%;
  font-weight: bold;

  .modal-title {
    float: left;
  }

  .modal-controls a {
    color: $theme-color;
    text-decoration-line: none;
  }

  .close-modal,
  .modal-controls {
    float: right;

    * {
      margin-left: .5rem;
    }
  }
}

.card {
  border: thin solid $wooden-color;
  padding: .5rem;
  text-align: center;
  width: 9rem;
}

.card-cost {
  height: 55px;
}

.cost {
  display: inline-block;
}

.build-mode-on {
  .building-in-progress, .building-built {
    display: none;
  }
}

.build-mode-off {
  .build-button, .card-cost {
    display: none;
  }

  .building-card {
    &.building-ground {
      display: none;
    }

    &:not(.building-in-progress) .building-time {
      display: none;
    }
  }
}

.modal-body {
  @include clearfix();
  padding: .5rem;

  .modal-building-actions {
    clear: both;
  }

  .squad-card {
    @include card();
  }

  .buildings-title {
    font-weight: bold;
  }

  .building-card {
    border: 2px solid $gray;
    float: left;
    margin-bottom: 1rem;
    margin-right: 1rem;
    min-height: 3rem;
    padding: .5rem;
    text-align: center;
    width: 9rem;

    &.building-built, &.building-can-upgrade {
      @include themed-2px();
      a {
	color: $theme-color;
      }
    }

    &.building-ground {
      a.open-building,
      .building-time {
	color: $gray;
      }
    }

    &.building-in-progress {
      a,
      .building-time {
	color: $gray;
	font-style: italic;
      }
    }

    a {
      display: block;
      text-decoration-line: unset;
    }
  }
}

.sticky-footer {
  bottom: 8px;
  color: #333;
  font-size: small;
  position: absolute;
  text-align: center;
  width: 100%;
}
