@font-face {font-family: 'PT Serif';
	    src: url('/fonts/PTF55F_W.eot');
	    src: local('PT Serif'), url('/fonts/PTF55F_W.eot?#iefix') format('embedded-opentype'), url('/fonts/PTF55F_W.woff') format('woff'),url('/fonts/PTF55F_W.ttf') format('truetype'), url('/fonts/PTF55F_W.svg#PTSerif-Regular') format('svg');}

@font-face {font-family: 'PT Serif';
	    src: url('/fonts/PTF75F_W.eot');
	    font-style: normal;
	    font-weight: bold;
	    src: local('PT Serif Bold'), url('/fonts/PTF75F_W.eot?#iefix') format('embedded-opentype'), url('/fonts/PTF75F_W.woff') format('woff'),url('/fonts/PTF75F_W.ttf') format('truetype'), url('/fonts/PTF75F_W.svg#PTSerif-Bold') format('svg');}

$cell-dimension: 32px;
$map-dimension: $cell-dimension * 11;
$block-dimension: $cell-dimension * 10;
$orb-dimension: 36px;
$orb-md-dimension: $orb-dimension - 4px;
$orb-sm-dimension: $orb-md-dimension - 4px;
$orb-margin: ($cell-dimension - $orb-dimension) / 2;
$orb-md-margin: ($cell-dimension - $orb-md-dimension) / 2;
$orb-sm-margin: ($cell-dimension - $orb-sm-dimension) / 2;
$button-size: 60px;
$column-gap: 30px;
$font-family: 'PT Serif', serif;
$right-col-width: 220px;
// colors
// color of wooden theme
$wooden-color: #963;
// color of wood
$life-info-color: #e60000;
$sienna: #a0522d;
$wood-color: $sienna;
$hover-hero-color: #66a3ff;
$active-hero-color: #06f;
$chocolate: #d2691e;
$right-col-border: $chocolate;
$saddlebrown: #8b4513;
$orb-color: #ffc;
$theme-bg: $saddlebrown;
$theme-border: $chocolate;
$theme-color: #ffffe0;
$theme-hover: $sienna;
$aqua: #0ff;
$black: #000;
$blue: #00f;
$brown: #a52a2a;
$darkolivegreen: #556b2f;
$gold: #ffd700;
$gray: #808080;
$green: #008000;
$lightgray: #d3d3d3;
$limegreen: #32cd32;
$orange: #ffa500;
$red: #f00;
$yellow: #ff0;
$white: #fff;
// 2rem left + 2rem between right col + 2 rem for paddings
$modal-width: calc(100% - #{$right-col-width} - 6rem);
// - 2.5rem for padding + scroll
$log-width: calc(100% - #{$right-col-width} - 2.5rem);

@mixin clearfix() {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin card() {
  border: thin solid $wooden-color;
  box-sizing: border-box;
  float: left;
  height: 11rem;
  margin: 1rem;
  padding: 1rem;
  width: 10rem;
}

@mixin res-gold() {
  background-color: $gold;
  color: $black;
}

@mixin res-wood() {
  background-color: $wood-color;
  color: $white;
}

@mixin res-stone() {
  background-color: $gray;
  color: $black;
}

@mixin themed() {
  background-color: $theme-bg;
  border: thin solid $theme-border;
  color: $theme-color;
}

@mixin themed-2px() {
  background-color: $theme-bg;
  border: 2px solid $theme-border;
  color: $theme-color;
}

@mixin themed-hovered() {
  @include themed();
  &:hover {
    background-color: $theme-hover;
  }
}

@mixin button() {
  @include themed-hovered();
  cursor: pointer;
  font-family: $font-family;
  font-weight: bold;
  padding: 0 2px;
}

@mixin big-modal() {
  bottom: 10%;
  overflow-y: auto;
}

a {
  color: $theme-color;
  &:hover {
    color: $theme-hover;
  }
}

body {
  background-color: $black;
  color: $theme-color;
  font-family: $font-family;
  font-size: 1rem;
  margin: 0;
  padding: 0;

  &.main {
    margin-top: 4rem;
    text-align: center;
  }
}

.login-form {
  div {
    margin: 1rem 0;
  }
}

button {
  @include button();
}

.submit {
  @include button();
}

.text {
  @include themed();
}

.pointer {
  cursor: pointer;
}

#top-container {
  height: 100%;
  position: absolute;
  width: 100%;
}

.block-bottom {
  border-bottom: 5px solid $wooden-color;
}

.block-left {
  border-left: 5px solid $wooden-color;
}

.block-right {
  border-right: 5px solid $wooden-color;
}

.block-top {
  border-top: 5px solid $wooden-color;
}

#map {
  background-color: $black;
  border: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;

  &.bordered-cells .cell {
    border-bottom: thin dashed $darkolivegreen;
    border-right: thin dashed $darkolivegreen;
  }

  .blocks {
    position: absolute;
  }

  .block {
    height: $block-dimension;
    position: absolute;
    width: $block-dimension;
  }

  .cell {
    box-sizing: border-box;
    height: $cell-dimension;
    position: absolute;
    width: $cell-dimension;

    &.white {
      background-color: $white;
    }

    &.black {
      background-color: $black;
    }
  }

  .unit {
    background-repeat: no-repeat;
    background-position: center;
    border: thin solid transparent;
    box-sizing: border-box;
    height: inherit;
    position: absolute;
    width: inherit;
    z-index: 6;

    &.attack-target {
      border: thin solid $red;
      cursor: crosshair;
    }

    &.select-target {
      cursor: pointer;
    }
  }

  .player-hero {
    //background-image: url('/img/player_hero.png');
    background-image: url('/img/swordsman.png');
  }

  .player-unit {
    &:hover,
    &.player-unit-hover {
      border: thin dashed $hover-hero-color;
    }

    &.active-player-unit {
      border: thin solid $active-hero-color;
    }
  }

  .player-unit-life-info, .other-player-unit-life-info {
    bottom: -2px;
    color: $white;
    font-size: 10px;
    font-weight: bold;
    right: 0;
    padding: 0 2px;
    position: absolute;
  }

  .player-unit-life-info {
    background-color: rgba(200, 0, 0, 0.7);
  }

  .other-player-unit-life-info {
    background-color: rgba(0, 0, 200, 0.7);
  }

  .other-player-hero {
    background-image: url('/img/other_player_hero.png');
  }

  .green-orb {
    background-color: $orb-color;
    border-color: $black;
    border-radius: 20px;
  }

  .black-orb {
    background-color: $black;
    border-color: $gray;
    border-radius: 20px;
  }

  .town,
  .player-town {
    background-image: url('/img/town.png');
  }

  .orb {
    height: $orb-dimension;
    left: $orb-margin;
    top: $orb-margin;
    width: $orb-dimension;
  }

  .orb-md {
    height: $orb-md-dimension;
    left: $orb-md-margin;
    top: $orb-md-margin;
    width: $orb-md-dimension;
  }

  .orb-sm {
    height: $orb-sm-dimension;
    left: $orb-sm-margin;
    top: $orb-sm-margin;
    width: $orb-sm-dimension;
  }

  .wounds {
    color: $yellow;
  }

  .kills {
    color: $red;
  }

  .dmg {
    font-weight: bold;
    left: 4px;
    position: absolute;
    transition: top 3s ease, color 3s ease;
    z-index: 10;
  }

  .dmg-start {
    top: -10px;
  }

  .dmg-end {
    top: -30px;
  }

  // .def-dmg-start {
  //   color: $red;
  // }

  // .def-dmg-end {
  //   color: $yellow;
  // }

  // .att-dmg-start {
  //   color: $blue;
  // }

  // .att-dmg-end {
  //   color: $aqua;
  // }
}

#right-col {
  @include themed();
  height: 100%;
  opacity: .9;
  overflow-y: auto;
  padding: 0 1rem;
  position: fixed;
  right: 0;
  width: $right-col-width;
  z-index: 20;

  > div {
    margin: 1rem 0;
  }

  &:hover {
    opacity: 1;
  }

  .opt-help * {
    width: 33%;
  }

  .unit-info-template {
    display: none;
  }

  #unit-info-list {
    border-bottom: thin solid $right-col-border;
    border-top: thin solid $right-col-border;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  #user-controls button {
    display: block;
    margin: .5rem 0;
  }
}

.unit-info {
  border-bottom: thin solid transparent;
  border-left: thick solid $wooden-color;
  border-right: thin solid transparent;
  border-top: thin solid transparent;
  font-weight: bold;
  padding: 0 2px;

  &:hover {
    background-color: $theme-hover;
    border-bottom: thin dashed $right-col-border;
    border-left: thick solid $right-col-border;
    border-right: thin dashed $right-col-border;
    border-top: thin dashed $right-col-border;
    cursor: pointer;
  }

  &.active-unit-info {
    border-left: thick solid $right-col-border;
  }

  .unit-name-info {
    font-size: 2rem;
  }

  .unit-id-info::before {
    content: '#';
  }

  .unit-info-row {
    div {
      display: inline-block;
    }

    div:nth-of-type(1) {
      width: 30%;
    }

    div:nth-of-type(n+2) {
      width: 35%;
    }
  }

  .unit-info-actions {
    margin: 2px 0;
  }

  &:not(.active-unit-info) > .unit-info-actions {
    visibility: hidden;
  }

  .unit-life-info {
    color: $life-info-color;
  }

  .unit-damage-info {
    color: $lightgray;
  }

  .unit-defence-info {
    color: $blue;
  }

  .unit-ap-info {
    color: $orange;
  }
}

.unit-inventory-info {
  height: 60px;
}

.inventory-item {
  border: 2px solid $wooden-color;
  float: left;
  height: $cell-dimension;
  margin-right: 3px;
  width: $cell-dimension;
}

.unit-inventory-item-action {
  display: block;
  margin: 0 auto;
}

.inventory-item-q {
  font-size: .7rem;
  height: 10px;
  position: relative;
  text-align: center;
  top: $cell-dimension;
  width: $cell-dimension;
}

.inventory-item-settlers {
  background-image: url('/img/settlers.png');
}

.inventory-item-gold {
  background-image: url('/img/gold.png');
}

.inventory-item-wood {
  background-image: url('/img/wood.png');
}

.inventory-item-empty {
}

#controls-arrows {
  button {
    background-color: $saddlebrown;
    border-color: $right-col-border;
    border-style: groove;
    cursor: pointer;
    float: left;
    font-size: 30px;
    font-weight: bold;
    height: $button-size;
    line-height: 1px;
    text-align: center;
    width: 33%;

    &:hover {
      background-color: $theme-hover;
    }

    &:nth-child(3n-2) {
      clear: left;
    }
  }
}

#log {
  background-color: $theme-color;
  bottom: 0;
  height: 100px;
  opacity: .9;
  overflow-y: scroll;
  padding-left: .3rem;
  position: fixed;
  width: $log-width;
  z-index: 10;

  .log-entry {
    color: $black;
    height: 20px;
    line-height: 20px;

    time {
      display: inline-block;
      width: 12rem;
    }
  }

  .info {
    color: cyan;
  }

  .error {
    color: pink;
  }

  .spawn, .new_hero {
    color: blue;
  }

  .attack {
    color: $red;
  }

  .move {
    color: $green;
  }

  .new-log-entry {
    font-weight: bold;
  }
}

.group::after {
  clear: both;
  content: '';
  display: table;
}

.modal {
  @include themed();
  display: none;
  left: 2rem;
  opacity: .9;
  position: fixed;
  top: 10%;
  width: $modal-width;
  z-index: 21;

  &:hover {
    opacity: 1;
  }

  .container {
    margin: 1rem 0;
  }

  .buildings-inner {
    @include clearfix();
    box-sizing: border-box;
    height: 50%;
  }

  .cost-res {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin: .3rem 0;
    min-width: 2rem;
  }

  .cost-res-gold {
    @include res-gold();
  }

  .cost-res-wood {
    @include res-wood();
  }

  .cost-res-stone {
    @include res-stone();
  }

  .workers-inner {
    .worker {
      border: thin solid $theme-border;
      display: inline-block;
      height: 1rem;
      margin-right: .5rem;
      width: 1rem;
    }

    .worker-gold {
      @include res-gold();
    }

    .worker-wood {
      @include res-wood();
    }

    .worker-stone {
      @include res-stone();
    }

    .worker-cell {
      border: thin solid $black;
      cursor: pointer;
      display: inline-block;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      width: 3rem;
    }

    .worker-cell-has-worker {
      border-color: $orange;
    }

    .worker-cell-tree {
      background-color: $wood-color;
    }

    .worker-cell-grass {
      background-color: $green;
    }

    .worker-cell-mountain {
      background-color: $gray;
    }
  }

  .town-inventory.container {
    .inventory-res {
      border: thin solid $brown;
      display: inline-block;
      height: 3rem;
      line-height: 3rem;
      min-width: 3rem;
      text-align: center;
    }

    .inventory-res-gold {
      @include res-gold();
    }

    .inventory-res-wood {
      @include res-wood();
    }

    .inventory-res-stone {
      @include res-stone();
    }
  }

  &.options {
    label {
      display: inline-block;
      line-height: 2rem;
      width: 10rem;
    }
  }

  &.town {
    @include big-modal();
  }

  &.building {
    @include big-modal();
  }

  &.help {
    @include big-modal();
  }
}

.town-inventory-inner {
  @include clearfix();
  margin-bottom: 15px;
}

@mixin inventory-item-description() {
  font-style: italic;
  font-weight: normal;
}

.unit-inventory-item-description-info {
  @include inventory-item-description();
}

.town-inventory-item-description {
  @include inventory-item-description();
}

.modal-top-bar {
  @include clearfix();
  border-bottom: thin solid $wooden-color;
  padding: .5rem;
  font-size: 120%;
  font-weight: bold;

  .modal-title {
    float: left;
  }

  .modal-controls a {
    color: $theme-color;
    text-decoration-line: none;
  }

  .close-modal,
  .modal-controls {
    float: right;

    * {
      margin-left: .5rem;
    }
  }
}

.modal-body {
  @include clearfix();
  padding: .5rem;

  .modal-building-actions {
    clear: both;
  }

  .company-card {
    @include card();
  }

  .buildings-title {
    font-weight: bold;
  }

  .building-card {
    border: 2px solid $gray;
    float: left;
    margin-right: 1rem;
    min-height: 3rem;
    padding: .5rem;
    text-align: center;
    width: 9rem;

    .building-cost {
      height: 3rem;
    }

    &.building-built {
      @include themed-2px();
      a {
	color: $theme-color;
      }
    }

    &:not(.building-not-built) {
      .build-button, .building-cost {
	display: none;
      }
    }

    &.building-not-built {
      a.open-building,
      .building-time {
	color: $gray;
      }
    }

    &.building-in-progress {
      a,
      .building-time {
	color: $gray;
	font-style: italic;
      }
    }

    &.building-built {
      .building-time {
	display: none;
      }
    }

    a {
      display: block;
      text-decoration-line: unset;
    }
  }
}
