#top-container onmousedown="return false"
  #map
    #blocks.blocks
  == partial('right-col')
  #log
== partial('modal-options')
== partial('modal-help')
== partial('modal-town')
== partial('modal-building')

script src="/js/options.js"
script src="/js/town_controls.js"
script src="/js/controls.js"
script src="/js/map.js"
script src="/js/units.js"
script src="/js/ws.js"
script src="/js/app.js"
