#top-container
  #map onmousedown="return false"
    #blocks.blocks
  == slim :right_col
  #log
== slim :modal_options
== slim :modal_help
== slim :modal_town

script src="/js/options.js"

script src="/js/state_observer.js"
script src="/js/build_observer.js"
script src="/js/cost_observer.js"
script src="/js/level_observer.js"
script src="/js/time_observer.js"
script src="/js/card.js"
script src="/js/controls.js"
script src="/js/unit_controls.js"
script src="/js/map.js"

script src="/js/province.js"
script src="/js/building.js"
script src="/js/town_cell.js"
script src="/js/inventory_observer.js"
script src="/js/town_modal.js"
script src="/js/view.js"
script src="/js/unit.js"

script src="/js/ws.js"
script src="/js/app.js"
