#top-container onmousedown="return false"
  #map
    #blocks.blocks
  == slim :right_col
  #log
== slim :modal_options
== slim :modal_help
== slim :modal_town
== slim :modal_building
== slim :card_building_template

script src="/js/options.js"
script src="/js/card.js"
script src="/js/town_modal_controls.js"
script src="/js/controls.js"
script src="/js/map.js"
script src="/js/town_modal.js"
script src="/js/view.js"
script src="/js/units.js"
script src="/js/ws.js"
script src="/js/app.js"
